    <!-- WELCOME MESSAGE 
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-7 col-lg-8">
            
            <h1 class="block-header">
              <span>Welcome message</span>
            </h1>
            
            <div class="row">
              <div class="col-xs-12">
                <img src="assets/img/welcome.jpg" class="img-responsive img-article pull-left" alt="...">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur sunt expedita magni quas, soluta nisi aliquid maiores dolorem minima tempora, provident dolor similique commodi temporibus quibusdam consectetur molestias nihil quo.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque, alias, inventore obcaecati ex impedit quasi debitis aut velit odit modi voluptate dignissimos, iure iste. Veniam cum sunt doloremque totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum perferendis, in non odio at.
                </p>
              </div>
            </div> <!-- / .row -->
  
            <div class="info-board info-board-primary">
              <h4>Important info</h4>
              <p>
                Nunc in neque nec arcu vulputate ullamcorper. Ut id orci ac arcu consectetur fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              </p>
            </div>
  
          </div>
          <div class="col-sm-5 col-md-5 col-lg-4">
            
            <h1 class="block-header">
              <span>Last Updates</span>
            </h1>
  
            <!-- Tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#lorem" aria-controls="lorem" role="tab" data-toggle="tab">
                  Blog
                </a>
              </li>
              <li role="presentation">
                <a href="#ipsum" aria-controls="ipsum" role="tab" data-toggle="tab">
                  Comments
                </a>
              </li>
              <li role="presentation">
                <a href="#dolor" aria-controls="dolor" role="tab" data-toggle="tab">
                  Events
                </a>
              </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="lorem">
  
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_1.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Story Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_2.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Story Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_3.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Story Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
  
              </div>
              <div role="tabpanel" class="tab-pane" id="ipsum">
  
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_3.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Comment Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_1.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Comment Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_2.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Comment Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
  
              </div>
              <div role="tabpanel" class="tab-pane" id="dolor">
  
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_2.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Event Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_3.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Event Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="assets/img/blog_1.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Event Title</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
                    </p>
                  </div>
                </div>
  
              </div>
            </div>
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->