    <!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            
            <h1 class="block-header alt">
              <span>Pricing plans</span>
            </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos pariatur, obcaecati nostrum quam officiis facilis vitae rerum quidem quae dolor ipsum iste, nobis aspernatur suscipit. Quibusdam, dignissimos nihil numquam minima? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam adipisci, perferendis cupiditate ab facilis quis ipsum quibusdam. Aliquid sed eum non aspernatur totam id, deleniti nobis mollitia magnam, recusandae natus!
            </p>
  
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            
            <div class="pricing__item">
              <div class="pricing__header">
                Basic plan
              </div>
              <div class="pricing__price">
                <i>$</i>25<span>/mo</span>
              </div>
              <div class="pricing__features">
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur elit.
                  </li>
                  <li>Beatae reprehenderit</li>
                  <li>Sapiente omnis fuga</li>
                </ul>
              </div>
              <div class="pricing__btn">
                <a href="#" class="btn btn-primary">
                  Sign up now!
                </a>
              </div>
            </div>
  
          </div>
          <div class="col-sm-6 col-md-3">
            
            <div class="pricing__item">
              <div class="pricing__header">
                Pro plan
              </div>
              <div class="pricing__price">
                <i>$</i>35<span>/mo</span>
              </div>
              <div class="pricing__features">
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur elit.
                  </li>
                  <li>Beatae reprehenderit</li>
                  <li>Sapiente omnis fuga</li>
                </ul>
              </div>
              <div class="pricing__btn">
                <a href="#" class="btn btn-primary">
                  Sign up now!
                </a>
              </div>
            </div>
  
          </div>
          <div class="col-sm-6 col-md-3">
            
            <div class="pricing__item featured">
              <div class="pricing__header">
                Business plan
              </div>
              <div class="pricing__price">
                <i>$</i>45<span>/mo</span>
              </div>
              <div class="pricing__features">
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur elit.
                  </li>
                  <li>Beatae reprehenderit</li>
                  <li>Sapiente omnis fuga</li>
                </ul>
              </div>
              <div class="pricing__btn">
                <a href="#" class="btn btn-primary">
                  Sign up now!
                </a>
              </div>
            </div>
  
          </div>
          <div class="col-sm-6 col-md-3">
            
            <div class="pricing__item">
              <div class="pricing__header">
                Exclusive plan
              </div>
              <div class="pricing__price">
                <i>$</i>55<span>/mo</span>
              </div>
              <div class="pricing__features">
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur elit.
                  </li>
                  <li>Beatae reprehenderit</li>
                  <li>Sapiente omnis fuga</li>
                </ul>
              </div>
              <div class="pricing__btn">
                <a href="#" class="btn btn-primary">
                  Sign up now!
                </a>
              </div>
            </div>
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->