    <!-- SERVICES
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            <div class="services">
              <div class="services__item" *ngFor="let service of servicios">
                <div class="services-item__body">
                  <div class="services-item__icon">
                    <i class="fa fa-briefcase fa-3x"></i>
                  </div>
                  <div class="services-item__content">
                    <p class="services-item__caption">{{service.caption}}</p>
                    <a class="services-item__link" href="#">Learn more <i [class]="service.icon"></i></a>
                  </div>
                </div>
              </div>

              <!--
              <div class="services__item">
                <div class="services-item__body">
                  <div class="services-item__icon">
                    <i class="fa fa-cloud-upload fa-3x"></i>
                  </div>
                  <div class="services-item__content">
                    <p class="services-item__caption">Lorem ipsum dolor sit amet</p>
                    <a class="services-item__link" href="#">Learn more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="services__item">
                <div class="services-item__body">
                  <div class="services-item__icon">
                    <i class="fa fa-laptop fa-3x"></i>
                  </div>
                  <div class="services-item__content">
                    <p class="services-item__caption">Lorem ipsum dolor sit amet</p>
                    <a class="services-item__link" href="#">Learn more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="services__item">
                <div class="services-item__body">
                  <div class="services-item__icon">
                    <i class="fa fa-gears fa-3x"></i>
                  </div>
                  <div class="services-item__content">
                    <p class="services-item__caption">Lorem ipsum dolor sit amet</p>
                    <a class="services-item__link" href="#">Learn more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="services__item">
                <div class="services-item__body">
                  <div class="services-item__icon">
                    <i class="fa fa-compass fa-3x"></i>
                  </div>
                  <div class="services-item__content">
                    <p class="services-item__caption">Lorem ipsum dolor sit amet</p>
                    <a class="services-item__link" href="#">Learn more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
              -->

              <div class="clearfix"></div>
            </div> <!-- / .services -->
  
          </div>
        </div> <!-- / row -->
      </div> <!-- / .container -->