    <!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
  
            <!-- Sign In form -->
            <div class="profile__sign-in">
  
              <h1 class="block-header alt">
                <span>Crear una cuenta nueva</span>
              </h1>
  
              <form>
                <div class="form-group">
                  <label class="sr-only">Nombre Completo</label>
                  <input type="text" class="form-control input-lg" placeholder="Nombre Completo">
                </div>
                <div class="form-group">
                  <label class="sr-only">Usuario</label>
                  <input type="text" class="form-control input-lg" placeholder="Usuario">
                </div>
                <div class="form-group">
                  <label class="sr-only">E-mail</label>
                  <input type="email" class="form-control input-lg" placeholder="E-mail">
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="sr-only">Password</label>
                      <input type="password" class="form-control input-lg" placeholder="Password">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="sr-only">Repetir password</label>
                      <input type="password" class="form-control input-lg" placeholder="Repetir password">
                    </div>
                  </div>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="profile-sign-in__remember" value="">
                  <label for="profile-sign-in__remember">
                    Acepto los<a routerLink="/terms"> Términos del servicio</a> y la<a routerLink="/policy"> Política de Privacidad</a>
                  </label>
                </div><br />
                <button type="submit" class="btn btn-lg btn-primary">
                  Registrarse
                </button>
              </form>
  
              <hr>
  
              <p>
                Ya estás registrado? <a routerLink="/singin">Ingresa a tu cuenta</a>.
              </p>
  
            </div> <!-- / .profile_sign-in -->
            
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->