    <!-- CONTENT
    ================================================== -->
    
    <!-- Showcase -->
    <div class="showcase">
      
        <div id="showcase-carousel" class="carousel slide" data-ride="carousel">
        
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#showcase-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#showcase-carousel" data-slide-to="1"></li>
            <li data-target="#showcase-carousel" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
  
            <!-- Item 1 -->
            <div class="item item_1 active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="table_centered">
                      <div class="table_centered__cell">
                        
                        <!-- Add animation classes to the active slide only -->
                        <h1 class="animateDown" data-animation="animateDown">
                          The Highland template
                        </h1>
                        <p class="lead delay_1 animateUp" data-animation="animateUp">
                          Professional multi-purpose HTML5 template <br /> built with Bootstrap.
                        </p>
                        <a href="#" class="btn btn-lg btn-primary delay_2 animateUp" data-animation="animateUp">
                          Purchase now!
                        </a>
                        <a href="#" class="btn btn-lg btn-glass delay_2 animateUp" data-animation="animateUp">
                          Find out more
                        </a>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Item 2 -->
            <div class="item item_2">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="table_centered">
                      <div class="table_centered__cell">
                        
                        <h1 data-animation="animateDown">
                          Responsive grid system
                        </h1>
                        <p class="lead delay_1" data-animation="animateUp">
                          Looks great on all major browsers, tablets and phones.
                        </p>
                        <a href="#" class="btn btn-lg btn-primary delay_2" data-animation="animateUp">
                          Purchase now!
                        </a>
                        <a href="#" class="btn btn-lg btn-glass delay_2" data-animation="animateUp">
                          Find out more
                        </a>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Item 3 -->
            <div class="item item_3">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table_centered">
                      <div class="table_centered__cell">
                        
                        <h1 data-animation="animateDown">
                          Ready-to-go solution
                        </h1>
                        <p class="lead delay_1" data-animation="animateUp">
                          Beautiful template that works out of the box.
                        </p>
                        <a href="#" class="btn btn-lg btn-primary delay_2" data-animation="animateUp">
                          Purchase now!
                        </a>
                        <a href="#" class="btn btn-lg btn-glass delay_2" data-animation="animateUp">
                          Find out more
                        </a>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div> <!-- / .carousel-inner -->
        
          <!-- Controls -->
          <a class="carousel__control carousel__control_left" href="#showcase-carousel" role="button" data-slide="prev">
            <img src="assets/img/arrow_left.svg" alt="...">  
          </a>
          <a class="carousel__control carousel__control_right" href="#showcase-carousel" role="button" data-slide="next">
            <img src="assets/img/arrow_right.svg" alt="...">  
          </a>
        
        </div> <!-- / .carousel -->
  
      </div> <!-- / .showcase -->