    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          
          <div class="blog__item">

            <div class="blog__header">
              <h1 class="blog__title">
                <a href="#">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </a>
              </h1>
              <ul class="blog__info">
                <li>
                  <i class="fa fa-user"></i> <a href="#">Admin</a>
                </li>
                <li>
                  <i class="fa fa-calendar"></i> <time datetime="2016-03-01">March 01, 2016</time>
                </li>
                <li>
                  <i class="fa fa-comments-o"></i> 4 comments
                </li>
              </ul>
            </div> <!-- / .blog__header -->

            <div class="blog__body">
              <a href="#">
                <img src="assets/img/work_1.jpg" alt="" class="img-responsive img-article pull-right">
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptates quibusdam possimus alias, explicabo iste doloribus laboriosam debitis, quisquam molestiae delectus temporibus eos quae perferendis qui saepe fuga nihil, labore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum repellat debitis recusandae unde magnam assumenda officia deserunt eveniet vitae accusantium laudantium quidem, ab eos sapiente similique facere, sunt repellendus?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis quo nulla minus est distinctio facere rerum odit pariatur quisquam ab explicabo, soluta, beatae aperiam voluptate. Labore eaque repellat deserunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem assumenda odio distinctio facilis earum, eos suscipit consequuntur esse itaque. Ad facere reiciendis accusamus cum quis beatae repellat delectus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestiae enim recusandae praesentium est, reprehenderit odit blanditiis, ad quo deleniti reiciendis velit itaque ipsum rem temporibus ullam voluptate iure veritatis.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident facilis dolorem quisquam maxime animi magnam, praesentium, asperiores, recusandae blanditiis, aspernatur eligendi quod hic consectetur dicta. Perspiciatis dolorem optio, quasi doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nostrum a fuga, debitis rem unde amet odit facilis sint nesciunt placeat voluptas quod quia ratione assumenda doloribus ipsa, aliquid reiciendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, vero. Ut aperiam, dolore fugiat impedit voluptatem, sequi adipisci at illo facere sunt aut odit quo, ipsum perspiciatis deleniti porro modi.
              </p>
            </div> <!-- / .blog__body -->

            <div class="blog__footer">
              <ul class="blog__tags">
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS3</a></li>
                <li><a href="#">jQuery</a></li>
              </ul>
            </div> <!-- / .blog__footer -->

          </div> <!-- / .blog__item -->


          <!-- Comments section -->
          <div class="comments">

            <div class="comments__heading">4 comments</div>

            <!-- New comment form -->
            <form name="comments__new">

              <div class="form-group">
                <textarea class="form-control" rows="1" placeholder="Write your comment here"></textarea>
              </div>

              <button type="submit" class="btn btn-primary" disabled="disabled">Send</button>

            </form>

            <!-- List of comments -->
            <div class="comments__list">
              
              <!-- Comment item -->
              <div class="comments__item">
                
                <div class="comments-item__avatar">
                  <img src="assets/img/person_1.jpg" class="img-responsive" alt="..." />
                </div>

                <div class="comments-item__body">

                  <div class="comments-item__info">
                    <div class="comments-item-info__author">Jane Doe</div>
                    <div class="comments-item-info__divider">
                      <i class="fa fa-circle"></i>
                    </div>
                    <div class="comment-item-info__timestamp">3 hours ago</div>
                  </div>

                  <div class="comments-item__content">
                    Nunc sagittis in est malesuada finibus. Aliquam non metus nec nisi auctor vulputate eget at purus. Morbi mattis nisl elit, id egestas magna viverra ut. Nunc condimentum porttitor tortor a tempus.
                  </div>

                  <div class="comments-item__actions">
                    <a href="#" class="comment-item-actions__reply">
                      Reply
                    </a>
                  </div>
                </div>

              </div> <!-- / .comments__item -->

              <!-- Comment item -->
              <div class="comments__item">
                
                <div class="comments-item__avatar">
                  <img src="assets/img/person_2.jpg" class="img-responsive" alt="..." />
                </div>

                <div class="comments-item__body">

                  <div class="comments-item__info">
                    <div class="comments-item-info__author">John Doe</div>
                    <div class="comments-item-info__divider">
                      <i class="fa fa-circle"></i>
                    </div>
                    <div class="comment-item-info__timestamp">5 hours ago</div>
                  </div>

                  <div class="comments-item__content">
                    In quis tellus tristique, ullamcorper mauris quis, mollis urna. Maecenas cursus auctor vestibulum. Suspendisse eu mi convallis, porttitor leo sit amet, fermentum nulla. Fusce rhoncus ex maximus, condimentum elit tincidunt, venenatis augue.
                  </div>

                  <div class="comments-item__actions">
                    <a href="#" class="comment-item-actions__reply">
                      Reply
                    </a>
                  </div>
                </div>

              </div> <!-- / .comments__item -->

              <!-- Comment item -->
              <div class="comments__item">
                
                <div class="comments-item__avatar">
                  <img src="assets/img/person_3.jpg" class="img-responsive" alt="..." />
                </div>

                <div class="comments-item__body">

                  <div class="comments-item__info">
                    <div class="comments-item-info__author">Jane Doe</div>
                    <div class="comments-item-info__divider">
                      <i class="fa fa-circle"></i>
                    </div>
                    <div class="comment-item-info__timestamp">1 day ago</div>
                  </div>

                  <div class="comments-item__content">
                    Pellentesque leo urna, ornare non pharetra eu, suscipit sit amet magna. Vivamus vel quam vitae massa posuere pellentesque accumsan eu justo. Cras non porttitor leo
                  </div>

                  <div class="comments-item__actions">
                    <a href="#" class="comment-item-actions__reply">
                      Reply
                    </a>
                  </div>
                </div>

              </div> <!-- / .comments__item -->

              <!-- Comment item -->
              <div class="comments__item">
                
                <div class="comments-item__avatar">
                  <img src="assets/img/person_4.jpg" class="img-responsive" alt="..." />
                </div>

                <div class="comments-item__body">

                  <div class="comments-item__info">
                    <div class="comments-item-info__author">John Doe</div>
                    <div class="comments-item-info__divider">
                      <i class="fa fa-circle"></i>
                    </div>
                    <div class="comment-item-info__timestamp">2 days ago</div>
                  </div>

                  <div class="comments-item__content">
                    Sed id vestibulum mauris. Nunc venenatis mauris sit amet accumsan tincidunt. Praesent cursus nulla sed accumsan pulvinar. Donec ipsum justo, pretium at neque eget, imperdiet tristique quam.
                  </div>

                  <div class="comments-item__actions">
                    <a href="#" class="comment-item-actions__reply">
                      Reply
                    </a>
                  </div>
                </div>

              </div> <!-- / .comments__item -->

            </div> <!-- / .comments__list -->

          </div> <!-- / .comments -->

        </div>
        
      </div> <!-- / .row -->
    </div> <!-- / .container -->

