    <!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
  
            <!-- Sign In form -->
            <div class="profile__sign-in">
  
              <h1 class="block-header alt">
                <span>Ingresa con tu cuenta</span>
              </h1>
  
              <form>
                <div class="form-group">
                  <label class="sr-only">E-mail</label>
                  <input type="email" class="form-control input-lg" placeholder="E-mail">
                </div>
                <div class="form-group">
                  <label class="sr-only">Password</label>
                  <input type="password" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="checkbox"><br />
                  <input type="checkbox" id="profile-sign-in__remember" value="">
                  <label for="profile-sign-in__remember">
                    Recordarme
                  </label>
                </div><br />
                <button type="submit" class="btn btn-lg btn-primary">
                  Ingresar
                </button>
              </form>
  
              <hr>
  
              <p>
                No estás  registrado? <a routerLink="/singup">Crear una cuenta</a>.
              </p>
              <p>
                Perdiste tu password? <a href="#lost-password__form" data-toggle="collapse" aria-expanded="false" aria-controls="lost-password__form" class="collapsed">
                  Click aquí para recuperar
                </a>.
              </p>
  
              <div class="collapse" id="lost-password__form">
  
                <p class="text-muted">
                    Ingresa tu dirección de email y se te enviará un link para reestablecer tu password.
                </p>
  
                <!-- Lost password -->
                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="lost-password__email">Email</label>
                    <input type="email" class="form-control" id="lost-password__email" placeholder="Ingresar email">
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
  
              </div> <!-- / #lost-password__form -->
  
            </div> <!-- / .profile_sign-in -->
            
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->