    <!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-sm-9">

            <h1 class="block-header alt">
                <span>Ubicación</span>
            </h1>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.610981736011!2d-60.69002005691195!3d-32.93487490054248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6534d3667ac1d%3A0x5b49b76a7b501ed5!2sCarriego%20594%2C%20S2002NOH%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1612640928861!5m2!1ses-419!2sar" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
            <h1 class="block-header alt">
              <span>Recibimos tu consulta!</span>
            </h1>
  
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente tenetur possimus, excepturi qui ab accusamus eos quis id. Obcaecati, voluptas harum blanditiis libero dolorem nemo quia, veniam distinctio ab esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit explicabo aliquam non itaque enim officia facilis consequatur possimus. Possimus est beatae mollitia eum dolorum laboriosam inventore fugit placeat at expedita!
            </p> <br />
  
            <!--
            <div class="alert alert-info">
              <strong>Heads up!</strong> The contact form below is fully functional. Please refer to README.md for setup instructions.
            </div> <br />
            -->

            <!-- Alert message -->
            <div class="alert" id="form_message" role="alert"></div>
  
            <!-- Please carefully read the README.txt file in order to setup
                 the PHP contact form properly -->
            <form id="form_sendemail">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input type="email" name="email" class="input-lg form-control" id="email" placeholder="E-mail" data-original-title="" title="">
                    <span class="help-block"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="sr-only" for="name">Nombre completo</label>
                    <input type="text" name="name" class="input-lg form-control" id="name" placeholder="Nombre completo" data-original-title="" title="">
                    <span class="help-block"></span>
                  </div>   
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="message">Mensaje</label>
                <textarea name="message" class="input-lg form-control" rows="5" id="message" placeholder="Mensaje"></textarea>
                <span class="help-block"></span>
              </div>
              
              <button type="submit" class="btn btn-lg btn-primary">Enviar mensaje</button>
            </form>
            
            
          </div>
          <div class="col-sm-3">
            
            <h1 class="block-header alt">
              <span>Redes</span>
            </h1>
  
            <ul class="social-icons">
              <li class="facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li class="linkedin">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li class="rss">
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
  
            <h1 class="block-header alt">
              <span>Información de contacto</span>
            </h1>
  
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, corrupti debitis.
            </p>
            <p class="text-muted">
              US & CAN: 1-234-56789 <br />
              Worldwide: 1-234-56789
            </p>
            <p class="text-muted">
              E-mail: info@domain.com <br />
              Website: <a href="#">https://www.domain.com/</a>
            </p>
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->