<!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="blog__timeline">
            
              <div class="blog__item" data-date="Mar 01">
  
                <div class="blog__header">
                  <h1 class="">
                    <a routerLink="/post">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                  </h1>
                  <ul class="blog__info">
                    <li>
                      <i class="fa fa-user"></i> <a href="#">Admin</a>
                    </li>
                    <li>
                      <i class="fa fa-calendar"></i> <time datetime="2016-03-01">March 01, 2016</time>
                    </li>
                    <li>
                      <i class="fa fa-comments-o"></i> 4 comments
                    </li>
                  </ul>
                </div> <!-- / .blog__header -->
  
                <div class="blog__body">
                  <a href="blog-post.html">
                    <img src="assets/img/work_1.jpg" alt="" class="img-responsive img-article pull-right">
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptates quibusdam possimus alias, explicabo iste doloribus laboriosam debitis, quisquam molestiae delectus temporibus eos quae perferendis qui saepe fuga nihil, labore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum repellat debitis recusandae unde magnam assumenda officia deserunt eveniet vitae accusantium laudantium quidem, ab eos sapiente similique facere, sunt repellendus?
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis quo nulla minus est distinctio facere rerum odit pariatur quisquam ab explicabo, soluta, beatae aperiam voluptate. Labore eaque repellat deserunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem assumenda odio distinctio facilis earum, eos suscipit consequuntur esse itaque. Ad facere reiciendis accusamus cum quis beatae repellat delectus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestiae enim recusandae praesentium est, reprehenderit odit blanditiis, ad quo deleniti reiciendis velit itaque ipsum rem temporibus ullam voluptate iure veritatis.
                  </p>
                </div> <!-- / .blog__body -->
  
                <div class="blog__footer">
                  <ul class="blog__tags">
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">jQuery</a></li>
                  </ul>
                </div> <!-- / .blog__footer -->
  
              </div> <!-- / .blog__item -->
  
              <div class="blog__item" data-date="Mar 01">
  
                <div class="blog__header">
                  <h1 class="blog__title">
                    <a routerLink="/post">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </a>
                  </h1>
                  <ul class="blog__info">
                    <li>
                      <i class="fa fa-user"></i> <a href="#">Admin</a>
                    </li>
                    <li>
                      <i class="fa fa-calendar"></i> <time datetime="2016-03-01">March 01, 2016</time>
                    </li>
                    <li>
                      <i class="fa fa-comments-o"></i> 4 comments
                    </li>
                  </ul>
                </div> <!-- / .blog__header -->
  
                <div class="blog__body">
                  <a href="blog-post.html">
                    <img src="assets/img/work_2.jpg" alt="" class="img-responsive img-article pull-left">
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptates quibusdam possimus alias, explicabo iste doloribus laboriosam debitis, quisquam molestiae delectus temporibus eos quae perferendis qui saepe fuga nihil, labore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum repellat debitis recusandae unde magnam assumenda officia deserunt eveniet vitae accusantium laudantium quidem, ab eos sapiente similique facere, sunt repellendus?
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis quo nulla minus est distinctio facere rerum odit pariatur quisquam ab explicabo, soluta, beatae aperiam voluptate. Labore eaque repellat deserunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem assumenda odio distinctio facilis earum, eos suscipit consequuntur esse itaque. Ad facere reiciendis accusamus cum quis beatae repellat delectus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestiae enim recusandae praesentium est, reprehenderit odit blanditiis, ad quo deleniti reiciendis velit itaque ipsum rem temporibus ullam voluptate iure veritatis.
                  </p>
                </div> <!-- / .blog__body -->
  
                <div class="blog__footer">
                  <ul class="blog__tags">
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">jQuery</a></li>
                  </ul>
                </div> <!-- / .blog__footer -->
  
              </div> <!-- / .blog__item -->
  
              <div class="blog__item" data-date="Mar 01">
  
                <div class="blog__header">
                  <h1 class="blog__title">
                    <a routerLink="/post">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </a>
                  </h1>
                  <ul class="blog__info">
                    <li>
                      <i class="fa fa-user"></i> <a href="#">Admin</a>
                    </li>
                    <li>
                      <i class="fa fa-calendar"></i> <time datetime="2016-03-01">March 01, 2016</time>
                    </li>
                    <li>
                      <i class="fa fa-comments-o"></i> 4 comments
                    </li>
                  </ul>
                </div> <!-- / .blog__header -->
  
                <div class="blog__body">
                  <a href="blog-post.html">
                    <img src="assets/img/work_3.jpg" alt="" class="img-responsive img-article pull-right">
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptates quibusdam possimus alias, explicabo iste doloribus laboriosam debitis, quisquam molestiae delectus temporibus eos quae perferendis qui saepe fuga nihil, labore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum repellat debitis recusandae unde magnam assumenda officia deserunt eveniet vitae accusantium laudantium quidem, ab eos sapiente similique facere, sunt repellendus?
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis quo nulla minus est distinctio facere rerum odit pariatur quisquam ab explicabo, soluta, beatae aperiam voluptate. Labore eaque repellat deserunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem assumenda odio distinctio facilis earum, eos suscipit consequuntur esse itaque. Ad facere reiciendis accusamus cum quis beatae repellat delectus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestiae enim recusandae praesentium est, reprehenderit odit blanditiis, ad quo deleniti reiciendis velit itaque ipsum rem temporibus ullam voluptate iure veritatis.
                  </p>
                </div> <!-- / .blog__body -->
  
                <div class="blog__footer">
                  <ul class="blog__tags">
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">jQuery</a></li>
                  </ul>
                </div> <!-- / .blog__footer -->
  
              </div> <!-- / .blog__item -->
  
            </div> <!-- / .blog__timeline -->
  
            <!-- Pagination -->
            <nav class="text-right">
              <ul class="pagination">
                <li class="disabled">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
              </ul>
            </nav>
  
          </div>
          
        </div> <!-- / .row -->
      </div> <!-- / .container -->