    <!-- FOOTER 
    ================================================== -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              
              <div class="footer__col">
                <h3 class="footer__header">Información de contacto y Redes</h3>
                <!--<p>
                  Podes encontrarme en las siguientes redes, donde publico contenido
                </p>-->
                <p>
                  Teléfono: +54 9 341 6507544 <br/>
                  E-Mail: danielaburlini@yahoo.com.ar
                </p>
                <ul class="footer__social">
                  <li>
                    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
  
            </div>

            <div class="col-xs-6 col-sm-2">
              
              <div class="footer__col">
                <h3 class="footer__header">
                  Mas información
                </h3>
                <ul class="footer__content">
                  <li><a routerLink="/pricing">Precios</a></li>
                  
                </ul>
              </div>
  
            </div>
            <div class="col-xs-6 col-sm-2">
              
              <div class="footer__col">
                <h3 class="footer__header">
                  About Us
                </h3>
                <ul class="footer__content">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
  
            </div>
            <div class="col-xs-12 col-sm-4">
              
              <div class="footer__col">
                <h3 class="footer__header">Subscribe</h3>
                <p>
                  Enter your e-mail below to subscribe to our free newsletter.
                </p>
                <p>
                  No spam. We promise.
                </p>
                <form class="form-inline footer__form">
                  <div class="form-group">
                    <label class="sr-only">Enter e-mail</label>
                    <input type="email" class="form-control" placeholder="Enter your e-mail">
                  </div>
                  <button type="submit" class="btn btn-default">
                    OK
                  </button>
                </form>
              </div>
  
            </div>
  
          </div> <!-- / .row -->
  
          <hr class="footer__hr" />
  
          <div class="row">
            <div class="col-sm-6">
              
              <p>
                Company 2016. All rights reserved.
              </p>
  
            </div>
          </div> <!-- / .row -->
  
        </div> <!-- / .container -->
      </footer>